import type { DefaultProps } from 'types';

interface {{properCase name}}Props extends DefaultProps {}

/** Main description for this component. */
const {{properCase name}} = ({
	children,
  className,
  ...htmlAttributes 
}: {{properCase name}}Props): JSX.Element | null => {
	return (
		<div {...htmlAttributes}>
			{children}
		</div>
	);
};

export default {{properCase name}};
